@import url(font-awesome.min.css);

html, body {
	background:url(https://farm2.staticflickr.com/1519/24221521120_c581880fdb_k_d.jpg) fixed no-repeat;
	background-size:100%;
	font-family: 'Roboto', sans-serif;
}

#mssg a {
	text-decoration: none;
	color:#f7f7f7;
	border-bottom:1px dotted #ffffff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:1em;
	display:block;
	text-transform:uppercase;
	padding:10px 5px;
}

#message {
	background:rgba(0,0,0,.5);
	position:fixed;
	top:0;
	left:0;
	padding:20% 10%;
	height:60%;
	width:80%;
	color:#ffffff;
}

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight:300;
	text-transform:uppercase;
	font-size:5em;
	margin-top:0px;
	margin-bottom:10px;
}

#mssg {
	border-left: 1px solid #ffffff;
	padding:10% 3em;
	position:fixed;
	top:0;
	left:5%;
}

#social {
	position:fixed;
	bottom:0px;
	padding:25px;
	border-left:1px solid #ffffff;
	right:0px;
	font-size:1em;
}

#social a {
	display:inline-block;
	font-size:1.3em;
	border:2px solid #ffffff;
	border-radius:100%;
	padding:0.75em 0.5em;
	width:1.3em;
	height:0.8em;
	margin-left:.3em;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
}
