::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
background: transparent;
}
 
::-webkit-scrollbar-thumb {
    background: #d50000;
}

main {
  padding: 2em;
}
.profile-btn {
  padding: 0;
  margin: 0;
}

.caption {
  padding: 1em;
}

.caption > p {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: .5em;
}

.dsq-combo-tab {
  padding: 1em;
}

.collapsible-body {
  margin: 0;
  padding: 0;
}


.badge {
  position: absolute;
  top: .5em;
  right: -.2em;
  min-width: 2em!important;
  z-index: 9;
}

.badge:after {
  display: none;
}

li {
  position: relative;
}

.brand-logo {
  padding: 0 1em!important;
}

#tweet {
  width: 100%;
  display: none;
  position: fixed;
  top:0;
  height: 100%;
  left: 0;
  z-index: 9999999;
  background: rgba(0,0,0,.5);
}

#tweet > div {
  width: 80%;
  margin: 20% auto;
}
#tweet:target {
  display: block;
}

.switch {
  margin: 1em 0;
}

@media (min-width: 769px) { 
   main {
    margin-left: 300px;
  }


#tweet > div {
  width: 40%;
  margin: 20% auto;
}

  #nav-mobile {
    margin-top: 4.2em;
    z-index: 1;
    height: calc(100% - 4.2em);
  }
}